body{
    background-color:#f9f9f9;
    color:#666;
    height:100%;
}
.reg_cont,.reset_cont{
    width:850px;
    margin:138px auto 0;
    overflow: hidden;
    background:url("../img/milogo.png") no-repeat center 0;
    background-size:49px;
    background-color:#fff;
    padding-top: 93px;
}
.reset_cont{
    margin-top: 193px;
}
.reg_cont h3,
.reset_cont h3{
    font-size:30px;
    color:#333;
    font-weight: normal;
    text-align: center;
    margin-bottom: 38px;
}
.reg_cont .reg_main,
.reset_cont .reset_main{
    width:330px;
    margin:0 auto;
    font-size:14px;
}
.reg_main p{
    margin-bottom: 42px;
}
.reg_main p label{
    display: block;
    width:100%;
    margin-bottom: 6px;
}
.reset_main label{
    display: block;
    width:100%;
    margin-bottom: 20px;
    font-weight: bold;
}
.reg_main .country_area,
.reg_main .phone_area{
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    height:42px;
    line-height: 42px;
    padding-left: 14px;
    border:1px solid #e8e8e8;
    cursor: pointer;
}
.reset_main .account_area .m_phone{
    display: block;
    width:100%;
    height:42px;
    line-height: 42px;
    padding:0 10px;
    border:1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
.reset_main .account_area{
    position: relative;
    display: block;
    width:100%;
    margin-bottom: 20px;
}
.reset_main .i_tip{
    display: block;
    width:100%;
    color:#c5c5c5;
}
.reset_main .i_tip .self_phone{
    color:#F56603;
}
.reset_main p{
    position:relative;
}
.reset_main p .select_code{
    position:absolute;
    color:#46639c;
    right:0;
    bottom:-30px;
    text-decoration: underline;
}
.reg_main .country_area .btn_select{
    position: absolute;
    width:40px;
    height:40px;
    border:1px solid #e8e8e8;
    top:-1px;
    right: -1px;
}
.country_area .btn_select:after{
    content:"";
    position: absolute;
    width:18px;
    height: 18px;
    top:50%;
    left: 50%;
    margin:-9px 0 0 -9px;
    background:url("../img/icon_user.png") no-repeat 0 0;
    background-size:cover;
}
.reg_main p .tip{
    position: absolute;
    left: 0;
    bottom: -38px;
}
.reg_main p .area_code{
    position: relative;
    float: left;
    width:59px;
    height:40px;
    line-height: 40px;
    border:none;
    border-right:1px solid #e8e8e8;
}
.reg_main p .area_code:after{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border-width: 5px;
    border-style: solid;
    border-color:#9d9d9d transparent transparent transparent;
    top:17px;
    right:15px;
}
.reg_main p .m_phone{
    float: left;
    width:230px;
    height:38px;
    padding:0 10px;
    border:none;
    outline: none;
}
.reg_main p .p_tip,
.reset_main p .p_tip{
    color:#f66;
    background:url("../img/p_tip.png") no-repeat 0 center;
    background-size:14px;
    padding-left: 18px;
}
.reset_main p .p_tip{
    position:absolute;
    left: 0;
    bottom:-25px;
}
.btn_next,.btn_reg,.btn_send,.btn_sure{
    width:100%;
    height: 42px;
    line-height: 42px;
    background:#F56603;
    color:#fff;
    text-align: center;
    border:none;
    outline: none;
    cursor: pointer;
    padding:0;
}
.reset_main .btn_next{
    margin:40px 0 60px;
}
.reset_main .btn_send{
    margin:40px 0 20px;
}
.reg_cont .m_proto{
    text-align: center;
    font-size: 14px;
    margin:80px 0 40px;
}
.reg_cont .m_proto a{
    color:#000;
    font-weight: bold;
}
.reset_main .verify_area{
    margin-bottom: 20px;
}
.reset_main .verify_area .m_verify{
    width:190px;
    height:40px;
    border:1px solid #e0e0e0;
    text-indent: 10px;
}
.reset_main .verify_area .code {
    float: right;
    width: 124px;
    height: 42px;
}
.reset_main .account_reset{
    text-align: center;
    margin-bottom: 70px;
}
.reset_main .account_reset a{
    color:#46639c;
}
.send_after .btn_resend{
    float: right;
    width: 134px;
    height: 42px;
    border:1px solid #e0e0e0;
    background:transparent;
}
.send_after .m_nocode{
    display: block;
    margin: -10px 0 10px;
}
#m_footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size:14px;
    color:#757575;
}
#m_footer .lang_type{
    margin:100px 0 10px;
}
#m_footer .lang_type a{
    display: inline-block;
    color:#757575;
    padding:0 11px;
    border-right: 1px solid #333;
    line-height: 14px;
}
#m_footer .lang_type a.now{
    color:#333;
}
#m_footer .lang_type a:last-child{
    border-right: none;
}
#m_footer .copyright{
    margin-bottom: 20px;
}
#m_footer .copyright img{
    width:auto;
}
#m_footer .copyright a{
    color:#757575;
}
.lg_main .sm_main,
.lg_main .mess_main,
.lg_main .tips .phone_cont{
    display: none;
}