html,body,div,h1,h2,h3,h4,h5,p,ul,li,a,dl,dt,dd,input{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
}
a{
    text-decoration: none;
    color:#000;
}
li{
    list-style: none;
}
img{
    width:100%;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}